.books-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.books-index ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.books-index-picture {
  height: 500px;
  width: 333px;
  filter: blur(0px);
  opacity: 1;
  transition: all .2s ease-in-out;
  border-style: none;
  border-width: 1px;
  border-radius: 10px;
}

.books-index-picture:hover {
  opacity: .5;
  transform: scale(1.1);
  filter: blur(5px);
}

.new-book-button {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.book-index-item-figure {
  position: relative;
  :hover {
    .book-index-item-title {
      opacity: 1;
    }
  }
}

.book-index-item-title {
  display: flex;
  justify-content: center;
  opacity: 0;
  color: white;
  position: absolute;
  top: 5%;
  left: 25%;
  right: 25%;
  font-family: Paytone One;
  text-align: center;
  font-size: 40px;
  text-shadow: #000 3px 3px 3px;
}
