.books-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.books-index ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

@keyframes offpage {
  0% {
    filter: drop-shadow(0px 0px 0px black);
    height: 500px;
    width: 333px;
    z-index: 1;
  }
  100% {
    filter: drop-shadow(16px 16px 20px black);
    height: 600px;
    width: 400px;
    z-index: 5;
  }
}

.books-index-picture {
  height: 500px;
  width: 333px;
  transition: all .2s ease-in-out;
}

.books-index-picture:hover {
  transform: scale(1.1);
}

.new-book-button {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
