@import "colors";

.bookshelf-detail {
  display: flex;
  flex-direction: column;
  background-color: $third;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 65%;

  p {
    text-align: center;
    font-family: Patua One;
    font-size: 30px;
    background-image: url("http://res.cloudinary.com/dbc0rv0hu/image/upload/v1495326388/cobwebs_vjq9xl.png");
    background-size: 300px 330px;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    margin-top: 0px;
    padding-top: 30px;
  }

  .bookshelf-list-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $fourth;
    :first-child {
      font-family: PayTone One;
      font-size: 30px;
    }
    :last-child {
      font-family: Paytone One;
      font-size: 30px;
      border-right: none;
    }
  }

  .bookshelf-books-list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

}
.bookshelf-books-list-item {
  display: flex;
  padding: 30px;
  padding-bottom: 5px;
}

.bookshelf-list-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  h2 {
    margin-left: 40px;
    width: 300px;
  }

  h3 {
    margin-left: 0;
  }
}


.bookshelf-list-item-cover {
  height: 150px;
  width: 100px;
}

#delete-shelving-button {
  font-size: 30px;
  cursor: pointer;
  padding-left: 10px;
  &:hover {
    font-size: 40px;
  }
}
