@import "colors";


.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

#root {
  background-color: $fifth;
  background: linear-gradient(to right, $fifth , #f3eccf);
  font-family: Comfortaa;
  height: 100%;
}

a {
  text-decoration: none;
  padding: 5px;
  color: $first;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

a:hover {
  color: white;
  cursor: pointer;
}

input {
  display: flex;
  width: 200px;
  justify-content: center;
  background-color: #18121E;
  color: white;
  border-style: none;
  font-weight: bold;
  text-align: center;
  height: 30px;
  padding: 3px;
}

textarea {
  display: flex;
  width: 600px;
  height: 200px;
  resize: none;
  font-family: Comfortaa;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  margin-bottom: 20px;
}

#book-logo {
  color: white;
  margin-right: 10px;
  &:hover {
    color: $third;
  }
}


button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $fourth;
  border: none;
  color: back;
  padding: 15px;
  text-decoration: none;
  font-family: Comfortaa;
  font-size: 16px;
  height: 50px;
  width: 100px;
  border-radius: 10px 10px;
  align-self: center;
  box-shadow: 0px 3px #5e4211;
}

button:hover {
  background-color: #bc8523;
  cursor: pointer;
}

button:active {
  box-shadow: 0 1px #5e4211;
  transform: translateY(3px) translateX(2px);
}

button:focus {
  outline: 0;
}
