body {
  margin: 0px;
}

#root {
  background-color: #233237;
  font-family: Comfortaa;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eac67a;
  border: none;
  color: back;
  padding: 15px;
  text-decoration: none;
  font-family: Comfortaa;
  font-size: 16px;
  height: 50px;
  width: 100px;
  align-self: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #a38a55;
}

a {
  text-decoration: none;
  padding: 5px;
  color: black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

a:hover {
  color: white;
}
