@import "colors";


.App {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0px;
}

#root {
  background-color: $fifth;
  font-family: Comfortaa;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $fourth;
  border: none;
  color: back;
  padding: 15px;
  text-decoration: none;
  font-family: Comfortaa;
  font-size: 16px;
  height: 50px;
  width: 100px;
  border-radius: 25px 25px;
  align-self: center;
  -webkit-transition-duration: 0.1s;
  transition: all .1s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  text-transform: none;
  background-color: #a38a55;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

a {
  text-decoration: none;
  padding: 5px;
  color: black;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

a:hover {
  color: white;
  cursor: pointer;
}

input {
  display: flex;
  width: 200px;
  justify-content: center;
  background-color: #18121E;
  color: white;
  border-style: none;
  font-family: Comfortaa;
  font-weight: bold;
  text-align: center;
  height: 30px;
  padding: 3px;
}

textarea {
  display: flex;
  width: 600px;
  height: 200px;
  resize: none;
  font-family: Comfortaa;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  margin-bottom: 20px;
}

#book-logo {
  color: white;
  margin-right: 10px;
  &:hover {
    color: $third;
  }
}
