
.navbar {
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  justify-content: space-between;
  background-color: #18121E;
  color: white;
}

.RightNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}

.LeftNav {
  display: flex;
  font-family: Righteous;
  font-size: 30px;
  align-items: center;
  padding-left: 20px;
}

#nav-title {
  color: white;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

#nav-title:hover {
  color: #eac67a;
}
