@import "colors";


.navbar {
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  justify-content: space-between;
  background-color: $first;
  color: white;
  height: 8vh;
}

.RightNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}

.LeftNav {
  display: flex;
  font-family: Righteous;
  font-size: 30px;
  align-items: center;
  padding-left: 20px;
}

#nav-title {
  color: white;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

#nav-title:hover {
  color: $third;
}

#my-books-nav-link {
  margin-left: 40px;
  color: white;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

#my-books-nav-link:hover {
  color: $third;
}
