@import "colors";

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100vh;
}

.login-form-box {
  width: 40vw;
  background-color: $second;
  border-style: hidden;
  border-width: 1px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.login-form {
  margin-top: 5px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-welcome {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Patua One;
  font-size: 30px;
}


.demo-button {
  margin-bottom: 50px;
}


#login-submit {
  background-color: white;
  color: black;
  font-family: Patua One;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#login-submit:hover {
  background-color: #cccccc;
  cursor: pointer;
}
