.login-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
  height: 2000px;
}

.login-form-box {
  height: 350px;
  width: 500px;
  background-color: #984b43;
  border-style: hidden;
  border-width: 1px;
  padding: 20px;
}

.login-form {
  margin-top: 5px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-welcome {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Patua One;
  font-size: 30px;
}

.login-form input {
  display: flex;
  width: 200px;
  justify-content: center;

}

.demo-button {
  margin-bottom: 50px;
}

.login-form input {
  background-color: #18121E;
  color: white;
  border-style: none;
  font-family: Comfortaa;
  font-weight: bold;
  text-align: center;
  height: 30px;
}

#login-submit {
  background-color: white;
  color: black;
  font-family: Patua One;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#login-submit:hover {
  background-color: #cccccc;
  cursor: pointer;
}
